.search{
    margin: 10px 0;
    padding: 0 5px;
}
.search input{
    padding: 5px;
    border: 1px solid #b5b1b1;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 230px;
}
 .search button{
    padding: 6px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;

 }
 .search-btn-all{
    background-color: rgb(131, 131, 165);
 }
 .search-btn-all:hover{
    background-color: rgb(86, 86, 181);

 }
 .search-btn-done{
    background-color: rgb(150, 99, 124);
 }
 .search-btn-done:hover{
    background-color:rgb(154, 52, 101);;

 }
 .search-btn-important{
    background-color: rgb(105, 150, 99);
 }
 .search-btn-important:hover{
    background-color:rgb(50, 87, 45);;

 }
 
 